a {
    text-decoration: none;
}
.jp-jplayer,.jp-audio {
    margin: 38px 0 38px 0;
    width: 865px;
    display: inline-block;
}

.jp-controls {
    padding: 0;
    margin: 0;
    list-style: none;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}
 
.jp-controls li {
    display: inline;
}
 
.jp-controls a {
    color: #fff;
}

.jp-gui {
    position: relative;
    border-radius: 3px;
}

.jp-play {
    width: 82px;
    height: 82px;
    display: inline-block;
    background-image: url(../img/play.jpg);
    background-repeat: no-repeat;
    border-radius: 6px;
    position: absolute;
    left: 0;
}

.jp-pause {
    width: 82px;
    height: 82px;
    display: inline-block;
    background-image: url(../img/pause.jpg);
    background-repeat: no-repeat;
    border-radius: 6px;
    position: absolute;
    left: 0;
}
 
.jp-controls .jp-play:hover,.jp-controls .jp-pause:hover {
    opacity: 0.8;
}

.jp-time-holder {
    color: #29bb39;
    font-size: 24px;
    position: absolute;
    right: 5px;
    top: -5px;
    font-weight: bold; 
}

.jp-progress {
    background-color: #131f28;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    position: absolute;
    left: 82px;
    top: 24px;
    width: 780px;
    height: 30px;

}
 
.jp-play-bar {
    height: 18px;
    background-color: black;
    border-radius: 0 20px 20px 0;
    position: absolute;
    top: 6px;
    background-image: -ms-linear-gradient(left, #4A7B76 0%, #2EB043 100%);
    background-image: -moz-linear-gradient(left, #4A7B76 0%, #2EB043 100%);
    background-image: -o-linear-gradient(left, #4A7B76 0%, #2EB043 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #4A7B76), color-stop(100, #2EB043));
    background-image: -webkit-linear-gradient(left, #4A7B76 0%, #2EB043 100%);
    background-image: linear-gradient(to right, #4A7B76 0%, #2EB043 100%);
}
 
.jp-volume-bar {
    position: absolute;
    right: 80px;
    top: 17px;
    width: 45px;
    height: 8px;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
    background-color: #992E18;
    overflow: hidden;
}
 
.jp-volume-bar-value {
    background-color: black;
    height: 8px;
    border-radius: 20px 20px 20px 20px;
}

@media screen and (max-width: 768px) {
    .jp-progress {
        background-color: #131f28;
        border-radius: 0 20px 20px 0;
        overflow: hidden;
        position: absolute;
        left: 82px;
        top: 24px;
        width: 600px;
        height: 30px;

    }
    .jp-time-holder {
        color: #29bb39;
        font-size: 24px;
        position: absolute;
        left: 430px;
        top: -5px;
        font-weight: bold; 
    }



}