@font-face { 
  font-family: 'supermolotblack';       
  src: url('../fonts/supermolot_black-webfont.ttf');  
  font-weight: 400;
  font-style: normal; 
} 

@font-face { 
  font-family: 'supermolotblack';       
  src: url('../fonts/supermolot_black_italic-webfont.ttf');  
  font-weight: 400;
  font-style: italic; 
} 

@font-face { 
  font-family: 'supermolot';       
  src: url('../fonts/supermolot-webfont.ttf');  
  font-weight: 400;
  font-style: normal; 
} 

@font-face { 
  font-family: 'supermolot';       
  src: url('../fonts/Supermolot_Bold.otf');  
  font-weight: 700;
  font-style: normal; 
} 

@font-face { 
  font-family: 'supermolot';       
  src: url('../fonts/supermolot_bold_italic-webfont.ttf');  
  font-weight: 700;
  font-style: bold; 
} 

@font-face { 
  font-family: 'supermolot';       
  src: url('../fonts/supermolot_italic-webfont.ttf');  
  font-weight: 400;
  font-style: italic; 
} 

@font-face { 
  font-family: 'supermolot';       
  src: url('../fonts/supermolot_light-webfont.ttf');  
  font-weight: 400;
  font-style: normal; 
} 

@font-face { 
  font-family: 'supermolot';       
  src: url('../fonts/supermolot_light_italic-webfont.ttf');  
  font-weight: 700;
  font-style: italic; 
} 

@font-face { 
  font-family: 'supermolot';       
  src: url('../fonts/supermolot_thin-webfont.ttf');  
  font-weight: 400;
  font-style: normal; 
} 

@font-face { 
  font-family: 'supermolot';       
  src: url('../fonts/supermolot_thin_italic-webfont.ttf');  
  font-weight: 700;
  font-style: italic; 
} 

::-webkit-input-placeholder {color: white;}
::-moz-placeholder          {color: white;}/* Firefox 19+ */
:-moz-placeholder           {color: white;}/* Firefox 18- */
:-ms-input-placeholder      {color: white;}

body {
	font-family: supermolot;
}

.container {
	max-width: 1200px;
	min-width: 320px;
	margin: 0 auto;
}

.long {
	max-width: 1400px;
}

header {
	margin: 0;
	height: 1260px;
	width: 100%;
	background-image: url(../img/bg-header.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	overflow: hidden;
}

.header__logo {
	margin: 500px auto 48px;
	width: 740px;
}

.header__logo__img {
	display: inline-block;
	float: left;
	margin-right: 48px;
	margin-top: 21px;
}

.header__logo__text {
 	color: white;
	font-size: 45px;
	font-weight: 700;
}

.header__btn-order {
	display: inline-block;
	color: white;
	font-size: 30px;
	font-weight: 700;
	padding: 8px 7px 13px 8px;
	border: 4px solid #23c52e;
	text-decoration: none;
	border-radius: 4px;
	margin-left: 210px;
	margin-top: -10px;
}

.header__buttons {
	margin-top: 235px;
	margin-left: 80px;
}

.header__buttons__button {
	margin-right:;
	float: left;
	max-width: 165px;
	text-align: center;
	color: white;
	text-decoration: none;
	font-size: 30px;
	font-weight: 700;
	display: inline-block;
}

.header__buttons__bg {
	margin-bottom: 28px;
}

.header__buttons__img--how {
	position: absolute;
	top: 200px;
	left: 200px;
}

.header__buttons__img--examples {
	position: absolute;
	top: 0;
	left: 0;
}

.header__buttons__img--about {
	position: absolute;
	top: 0;
	left: 0;
}

.header__buttons__img--reviews {
	position: absolute;
	top: 0;
	left: 0;
}

/*Main*/
.head-how {
	background-image: url(../img/bg-head-how.png);
	background-repeat: no-repeat;
	background-position: center 0;
	width: 100%;
	height: 160px;
	text-align: center;
}

.head-how__title {
	color: white;
	font-size: 50px;
	font-weight: bold;
	display: inline-block;
}
/*Main*/

.how {
	background-image: url(../img/bg-how.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	padding-top: 75px;
}

.how__item {
	width: 703px;
	height: 330px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.how__item__img {
	float: left;
	margin-left: 85px;
}

.how__item__text {
	color: white;
	font-size: 30px;
	font-weight: bold;
	display: inline-block;
	margin-top: 120px;
	width: 330px;
	margin-left: 38px;
}

.how__item__rez {
	width: 950px;
	height: 330px;
	margin: 0 auto;
}

.how__item__img__rez {
	float: left;
	margin-left: 205px;
}

.how__item__text__rez {
	width: 430px;
	color: white;
	font-size: 30px;
	font-weight: bold;
	display: inline-block;
	margin-top: 90px;
	margin-left: 40px; 
}

.text-green {
	color: #4fcd5e; 20 11 21 12
}

.how__item__btn {
	color: white;
	background-color: #4fcd5e;
	padding: 20px 11px 21px 12px;
	font-weight: bold;
	border-radius: 4px;
	font-size: 30px;
	display: inline-block;
	margin-top: 29px;
	margin-left: 20px;
}

.example {
	height: 827px;
	text-align: center;
	padding-top: 150px;
}

.example__item {

}

.example__item__player {
	margin-bottom: 65px;
}

.example__item__text {
	font-weight: bold;
	font-size: 30px;
	color: #29bb39;
	width: 750px;
	display: inline-block;
	margin-bottom: 16px;
}

.order {
	height: 1327px;
	width: 100%;
	background-image: url(../img/bg-bottom-table.png);
	background-repeat: no-repeat;
	position: relative;
	background-position: center 0;
}

.order__name {
	position: absolute;
	left: 50%;
	margin-left: -114px;
	bottom: 395px;
	padding: 12px 0 14px 30px;
	border: 4px solid #5cb967;
	border-radius: 4px;
	font-size: 22px;
	font-weight: bold;
	width: 239px;
	background-color: transparent;
	color: white;
}

.order__mail {
	position: absolute;
	left: 50%;
	margin-left: -114px;
	bottom: 305px;
	padding: 12px 0 14px 13px;
	border: 4px solid #5cb967;
	border-radius: 4px;
	font-size: 22px;
	font-weight: bold;
	width: 256px;
	background-color: transparent;
	color: white;
}

.order__btn {
	position: absolute;
	left: 50%;
	margin-left: -114px;
	bottom: 221px;
	padding: 13px 0 13px 11px;
	border-radius: 4px;
	font-size: 30px;
	font-weight: bold;
	width: 266px;
	background-color: #4fcd5e;
	color: white;
	text-decoration: none;
}

.features {
	background-color: #131313;
	height: 822px;
	width: 100%;
	position: relative;
	margin-top: 165px;
}

.features:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    transform-origin: left top;
    transform: skewY(-9deg);
}

.features:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(-9deg);
}



.features__title {
	text-align: center;
	font-size: 45px;
	color: #4fcd5e;
	margin-top: -97px;
	position: absolute;
	left: 50%;
	margin-left: -220px;
}

.features__item--one {
	width: 580px;
	display: inline-block;
	position: absolute;
	top: -53px;
}

.features__item--two {
	width: 580px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: -130px;
}

.features__item--three {
	width: 580px;
	display: inline-block;
	position: absolute;
	top: 440px;
}

.features__item--four {
	width: 580px;
	display: inline-block;
	margin-top: -150px;
	position: absolute;
	left: 50%;
	top: 480px;
}

.features__item__title {
	font-size: 30px;
	font-weight: bold;
	color: #4fcd5e;
	margin-bottom: 0;
}

.features__item__text {
	font-size: 30px;
	font-weight: bold;
	color: white;
}

.features__item__img--three {
	display: inline-block;
	margin-left: -38px;
}

.features__btn {
	color: white;
	background-color: #4fcd5e;
	padding: 13px 10px 13px 11px;
	border-radius: 4px;
	position: absolute;
	bottom: -180px;
	left: 50%;
	margin-left: -143px;
	font-weight: bold;
	font-size: 30px;
    text-decoration: none;
    transform: skewY(-9deg);
    -webkit-box-shadow: 0px 8px 1px 0px rgba(28,142,41,1);
	-moz-box-shadow: 0px 8px 1px 0px rgba(28,142,41,1);
	box-shadow: 0px 8px 1px 0px rgba(28,142,41,1);
}

.features__nlo-img {
	position: absolute;
	bottom: -382px;
	left: 50%;
	margin-left: 450px;
}

.tv {
	margin-top: 297px;
	padding-right: 50px;
	position: relative;
	height: 1626px;
}

.tv__title {
	font-weight: bold;
	font-size: 34px;
	color: #4fcd5e;
	text-align: center;
	margin-left: 80px;
	margin-bottom: 73px;
}

.tv__item {
	height: 300px;
	width: 475px;
	background-color: gray;
	margin-right: 35px;
	border: 3px solid #4fcd5e;
	border-radius: 3px;
	margin-bottom: 76px;
	display: inline-block;
}

.tv__item--even {
	float: right;
}

.tv__robo {
	position: absolute;
	left: 50%;
	bottom: 160px;
	margin-left: -952px;
}

.timer {
	background-image: url(../img/bg-timer1.png);
	background-repeat: no-repeat;
	background-position: center 0;
	width: 100%;
	height: 525px;
	text-align: center;
	position: relative;

}

.timer__title {
	width: 757px;
	font-size: 37px;
	font-weight: bold;
	color: white;
	display: inline-block;
	margin-top: 64px;
}

.timer__img {
	position: absolute;
	top: -90px;
	left: 50%;
	margin-left: 365px;
	z-index: 2;
}

.timer__btn {
	background-color: #704c6b;
	display: inline-block;
	font-size: 30px;
	font-weight: bold;
	padding: 25px 54px 27px 53px;
	border-radius: 4px;
	text-decoration: none;
	color: white;
	502f4b
	-webkit-box-shadow: 0px 10px 1px 0px rgba(80,47,75,1);
	-moz-box-shadow: 0px 10px 1px 0px rgba(80,47,75,1);
	box-shadow: 0px 10px 1px 0px rgba(80,47,75,1);
	position: absolute;
	bottom: -45px;
	left: 50%;
	margin-left: -188px;
}

.timer__countdown {
	background-image: url(../img/bg-countdown.png);
	background-repeat: no-repeat;
	background-position: center 0;
	width: 100%;
	height: 210px;
	margin-top: 19px;
	position: relative;
	z-index: 1;
}

.countdown {
	width: 1150px;
	position: absolute;
	top: 70px;
	left: 50%;
	margin-left: -575px;
}