@font-face {
    font-family: 'supermolotbold_italic';
    src: url('../fonts/supermolot_bold_italic-webfont.eot');
    src: url('../fonts/supermolot_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/supermolot_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/supermolot_bold_italic-webfont.woff') format('woff'),
         url('../fonts/supermolot_bold_italic-webfont.ttf') format('truetype'),
         url('../fonts/supermolot_bold_italic-webfont.svg#supermolotbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'supermolotbold';
    src: url('../fonts/supermolot_bold-webfont.eot');
    src: url('../fonts/supermolot_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/supermolot_bold-webfont.woff2') format('woff2'),
         url('../fonts/supermolot_bold-webfont.woff') format('woff'),
         url('../fonts/supermolot_bold-webfont.ttf') format('truetype'),
         url('../fonts/supermolot_bold-webfont.svg#supermolotbold') format('svg');
    font-weight: normal;
    font-style: normal;

} 

body {
	font-family: supermolotbold;
}

.container {
	max-width: 1100px;
	min-width: 320px;
	margin: 0 auto;
}

.long {
	max-width: 1400px;
}

#sidebar {
		display: none;
}

header {
	margin: 0;
	height: 1280px;
	width: 100%;
	background-image: url(../img/bg-header.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	overflow: hidden;
}

.header__logo {
	margin: 500px auto 48px;
	width: 755px;
}

.header__logo__img {
	display: inline-block;
	float: left;
	margin-right: 48px;
	margin-top: 21px;
}

.header__logo__text {
 	color: white;
	font-size: 45px;
	font-weight: 700;
}

.header__btn-order {
	display: inline-block;
	color: white;
	font-size: 30px;
	font-weight: 700;
	padding: 8px 7px 10px 8px;
	border: 4px solid #23c52e;
	text-decoration: none;
	border-radius: 4px;
	margin-left: 170px;
	margin-top: -10px;
}

.header__buttons {
	margin: 200px auto 0;
	width: 100%;
	text-align: center;
}

.header__buttons__button {
	margin-left: 19px;
	vertical-align: top;
	text-align: center;
	color: white;
	text-decoration: none;
	font-size: 30px;
	font-weight: 700;
	display: inline-block;
	background-image: url(../img/bg-button.png);
	background-repeat: no-repeat;
	background-position: center 27px;
	padding: 185px 20px 30px 24px;
	width: 155px;
	position: relative;
	margin-left: 4%;
}

.header__buttons__img--how {
	position: absolute;
	left: 50%;
	margin-left: -334px;
	top: 0;
	margin-top: -209px;
	position: absolute;
	top: 200px;
	left: 200px;
}

.header__buttons__img--examples {
	position: absolute;
	left: 50%;
	margin-left: 45px;
	top: 0;
	margin-top: 25px;
	position: absolute;
	top: 0;
	left: 0;
}

.header__buttons__img--about {
	position: absolute;
	left: 50%;
	margin-left: 0;
	top: 0;
	margin-top: 8px;
	position: absolute;
	top: 0;
	left: 0;
}

.header__buttons__img--reviews {
	position: absolute;
	left: 50%;
	margin-left: 28px;
	top: 0;
	margin-top: 26px;
	position: absolute;
	top: 0;
	left: 0;
}

.header__buttons__button:hover {
	background-image: url(../img/bg-button-shadow.png);
	background-repeat: no-repeat;
	background-position: center top;
	border-radius: 70px 70px;
	color: #0ccb23;
}

.header__buttons__button__bg:hover {
	-webkit-box-shadow: 0px 0px 29px 10px rgba(9,198,36,0.53);
	-moz-box-shadow: 0px 0px 29px 10px rgba(9,198,36,0.53);
	box-shadow: 0px 0px 29px 10px rgba(9,198,36,0.53);
}

.header__buttons__bg {
	margin-bottom: 28px;
}

/*Main*/
.head-how {
	background-image: url(../img/bg-head-how.png);
	background-repeat: repeat-x;
	background-position: center 0;
	width: 100%;
	height: 160px;
	text-align: center;
}

.head-how__title {
	color: white;
	font-size: 50px;
	font-weight: bold;
	display: inline-block;
}
/*Main*/

.how {
	background-image: url(../img/bg-how.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	padding-top: 75px;
	padding-bottom: 60px;
}

.how__item {
	width: 725px;
	height: 330px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.how__item__img {
	float: left;
}

.how__item__img--mini {
	display: none;
}

.how__item__text {
	color: white;
	font-size: 30px;
	font-weight: bold;
	display: inline-block;
	margin-top: 120px;
	width: 430px;
	margin-left: 38px;
}

.how__item__rez {
	width: 725px;
	height: 330px;
	margin: 0 auto;
}

.how__item__img__rez {
	float: left;
	
}

.how__item__text__rez {
	width: 430px;
	color: white;
	font-size: 30px;
	font-weight: bold;
	display: inline-block;
	margin-top: 90px;
	margin-left: 40px; 
}

.text-green {
	color: #4fcd5e; 20 11 21 12
}

.how__item__btn {
	color: white;
	background-color: #4fcd5e;
	padding: 20px 11px 21px 12px;
	font-weight: bold;
	border-radius: 4px;
	font-size: 30px;
	display: inline-block;
	margin-top: 29px;
	margin-left: 20px;
}

.how__item__btn:hover {
	-webkit-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
}

.example {
	height: 827px;
	text-align: center;
	padding-top: 150px;
}

.example__item {
	height: 280px;
	margin: 0 auto;
}

.example__item--last {
	margin-top: 38px;
}

.example__item__text {
	font-weight: bold;
	font-size: 30px;
	color: #29bb39;
	display: inline-block;
}

.order {
	width: 100%;
	background-image: url(../img/bg-bottom-table.png);
	background-repeat: no-repeat;
	background-position: center 0;
	text-align: center;
}

.order__name {
	padding: 12px 0 14px 30px;
	border: 4px solid #5cb967;
	border-radius: 4px;
	font-size: 22px;
	font-weight: bold;
	width: 239px;
	background-color: transparent;
	color: white;
	margin-top: 828px;
	margin-bottom: 28px;
}

.order__mail {
	padding: 12px 0 14px 13px;
	border: 4px solid #5cb967;
	border-radius: 4px;
	font-size: 22px;
	font-weight: bold;
	width: 256px;
	background-color: transparent;
	color: white;
	margin-bottom: 30px;
}

.order__btn {
	display: inline-block;
	padding: 13px 10px 13px 11px;
	border-radius: 4px;
	font-size: 29px;
	font-weight: bold;
	width: 266px;
	background-color: #4fcd5e;
	color: white;
	text-decoration: none;
	margin-bottom: 250px;
}

.order__btn:hover {
	-webkit-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
}

.features {
	background-color: #131313;
	width: 100%;
	position: relative;
	margin-top: 190px;
	height: 870px;
}

.features:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    background-repeat: cover;
    z-index: -1;
    top: 0;
    transform-origin: left top;
    transform: skewY(-9deg);
}

.features:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    background-repeat: cover;
    z-index: -1;
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(-9deg);
}

.features__title {
	text-align: center;
	font-size: 45px;
	color: #4fcd5e;
	margin-top: -100px; 
}

.features__item--one {
	display: inline-block;
	width: 538px;
}

.features__item--two {
	display: inline-block;
	width: 538px;
	margin-left: 0px;
	position: relative;
	left: 13px;
	bottom: 90px;
}

.features__item__x {
	position: absolute;
	left: 50%;
	margin-left: -299px;
	top: 254px;

}

.features__item--three {
	display: inline-block;
	width: 538px;
}

.features__item--four {
	display: inline-block;
	margin-top: -150px;
	width: 538px;
	margin-left: 0px;
	position: relative;
	left: 13px;
	bottom: 90px;
}

.features__item__img--one--mini {
	display: none;
}

.features__item__img--two--mini {
	display: none;
}

.features__item__img--three--mini {
	display: none;
}

.features__item__img--four--mini {
	display: none;
}

.features__item__img--one {
	position: relative;
	right: 15px;
}

.features__item__img--three {
	position: relative;
	right: 15px;
}

.features__item__title {
	font-size: 30px;
	font-weight: bold;
	color: #4fcd5e;
	margin-bottom: 0;
}

.features__item__text {
	font-size: 30px;
	font-weight: bold;
	color: white;
}

.features__item__img--three {
	display: inline-block;
	margin-left: -38px;
}

.features__btn {
	display: inline-block;
	color: white;
	width: 259px;
	margin-left: 400px;
	background-color: #4fcd5e;
	padding: 13px 10px 13px 11px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 29px;
    text-decoration: none;
    -ms-transform: skewX(-9deg);
    -webkit-transform: skewX(-9deg);
    transform: skewY(-9deg);
    -webkit-box-shadow: 0px 8px 1px 0px rgba(28,142,41,1);
	-moz-box-shadow: 0px 8px 1px 0px rgba(28,142,41,1);
	box-shadow: 0px 8px 1px 0px rgba(28,142,41,1);
}

.features__btn {
	-webkit-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
}

.features__nlo-img {
	position: absolute;
	bottom: -310px;
	left: 50%;
	margin-left: 20%;
}

.tv {
	margin-top: 297px;
	position: relative;
	height: 1400px;
	width: 100%;
	text-align: center;
}

.tv__title {
	font-weight: bold;
	font-size: 34px;
	color: #4fcd5e;
	text-align: center;
	margin-bottom: 73px;
}

.tv__item {
	height: 300px;
	width: 475px;
	background-color: gray;
	border: 3px solid #4fcd5e;
	border-radius: 3px;
	margin-bottom: 76px;
	display: inline-block;
}

.tv__robo {
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -952px;
}

.timer {
	background-image: url(../img/bg-timer1.png);
	background-repeat: repeat-x;
	background-position: center 0;
	width: 100%;
	height: 525px;
	text-align: center;
	position: relative;
}

.timer__title {
	width: 765px;
	font-size: 37px;
	font-weight: bold;
	color: white;
	display: inline-block;
	margin-top: 64px;
}

.timer__img {
	position: absolute;
	top: -90px;
	left: 50%;
	margin-left: 365px;
	z-index: 2;
}

.timer__btn {
	background-color: #704c6b;
	display: inline-block;
	font-size: 30px;
	font-weight: bold;
	padding: 25px 54px 27px 53px;
	border-radius: 4px;
	text-decoration: none;
	color: white;
	-webkit-box-shadow: 0px 10px 1px 0px rgba(80,47,75,1);
	-moz-box-shadow: 0px 10px 1px 0px rgba(80,47,75,1);
	box-shadow: 0px 10px 1px 0px rgba(80,47,75,1);
	position: relative;
	top: 55px;
}

.timer__btn:hover {
	-webkit-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
}

.timer__countdown {
	background-color: #704669;
	width: 100%;
	margin-top: 19px;
	position: relative;
	z-index: 1;
}

.countdown {
	max-width: 1200px;
	width: auto;
	padding: 70px 0;
	margin: 0 auto;
}

.why {
	width: 100%;
	text-align: center;
	position: relative;	
	margin-top: 240px;
}

.why--w {
	width: 1100px;
}

.why__form__name::-webkit-input-placeholder {
	color: black !important;
	opacity: 1;
}

.why__form__name::-moz-placeholder {
	color: black;
	opacity: 1;
}

.why__form__name:-moz-placeholder {
	color: black;
	opacity: 1;
}

.why__form__name:-ms-input-placeholder {
	color: black;
}

.why__form__mail::-webkit-input-placeholder {
	color: black !important;
}

.why__form__mail::-moz-placeholder {
	color: black;
	opacity: 1;
}

.why__form__mail:-moz-placeholder {
	color: black;
	opacity: 1;
}

.why__form__mail:-ms-input-placeholder {
	color: black;
}

.why__img {
	position: absolute;
	left: 50%;
	margin-left: -585px;
	top: -154px;
}

.why__title {
	font-size: 	37px;
	font-weight: bold;
	text-align: center;
	width: 720px;
	margin: 0 auto 75px;
}

.why__title--green {
	color: #39b146;
}

.why__item--one {
	height: 460px;
	width: 322px;
	display: inline-block;
	padding: 12px 12px;
	text-align: center;
	background-color: #753a6d;
	vertical-align: middle;
	-webkit-box-shadow: 0px 15px 1px 0px rgba(80,47,75,1);
	-moz-box-shadow: 0px 15px 1px 0px rgba(80,47,75,1);
	box-shadow: 0px 15px 1px 0px rgba(80,47,75,1);
	margin-right: 8px;
	color: #ffffff;
}

.why__item--three {
	height: 460px;
	width: 322px;
	display: inline-block;
	padding: 12px 12px;
	text-align: center;
	background-color: #753a6d;
	vertical-align: middle;
	-webkit-box-shadow: 0px 15px 1px 0px rgba(80,47,75,1);
	-moz-box-shadow: 0px 15px 1px 0px rgba(80,47,75,1);
	box-shadow: 0px 15px 1px 0px rgba(80,47,75,1);
	margin-left: 8px;
	color: #ffffff;
}

.why__item--green {
	height: 460px;
	width: 322px;
	display: inline-block;
	padding: 12px 12px;
	text-align: center;
	background-color: #39b146;
	vertical-align: middle;
	-webkit-box-shadow: 0px 15px 1px 0px rgba(45,138,55,1);
	-moz-box-shadow: 0px 15px 1px 0px rgba(45,138,55,1);
	box-shadow: 0px 15px 1px 0px rgba(45,138,55,1);
	margin: 0 8px;
	color: #ffffff;
}

.why__item__title {
	font-size: 22px;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 30px;
}

.why__item__title--green-item {
	font-size: 22px;
	font-weight: bold;
	display: inline-block;
	width: 250px;
	text-align: center;

}

.why__item__text {
	font-size: 17px;
	font-weight: bold;
	display: inline-block;
}

.why__form__name {
	padding: 15px 165px;
	border: 4px solid #5cb967;
	border-radius: 4px;
	font-size: 22px;
	font-weight: bold;
	width: 239px;
	background-color: transparent;
	color: black;
	margin-top: 80px;
}

.why__form__mail {
	padding: 15px 157px;
	border: 4px solid #5cb967;
	border-radius: 4px;
	font-size: 22px;
	font-weight: bold;
	width: 256px;
	background-color: transparent;
	color: black;
	margin: 20px auto;

}

.why__form__btn {
	display: inline-block;
	padding: 15px 157px;
	border-radius: 4px;
	font-size: 29px;
	font-weight: bold;
	width: 578px;
	background-color: #4fcd5e;
	color: white;
	text-decoration: none;
	-webkit-box-shadow: 0px 7px 1px 0px rgba(28,142,42,1);
	-moz-box-shadow: 0px 7px 1px 0px rgba(28,142,42,1);
	box-shadow: 0px 7px 1px 0px rgba(28,142,42,1);
	margin-bottom: 90px;
	border: 0 solid transparent;
}

.why__form__btn:hover {
	-webkit-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
}

.reviews {
	height: 689px;
	position: relative;
	text-align: center;
	margin-top: 35px;
}

.reviews__title {
	font-size: 37px;
	font-weight: bold;
	text-align: center;
	width: auto;
	margin: 0 auto;
}

.reviews__img1 {
	position: absolute;
	left: 50%;
	margin-left: -560px;
}

.reviews__img2 {
	position: absolute;
	left: 50%;
	margin-left: 300px;
}

.reviews__img1--min {
	display: none;
}

.reviews__img2--min {
	display: none;
}

.reviews__title--green {
	color: green;
}

.gallery {
	display: inline-block;
	height: 323px;
	width: 553px;
	margin: 0 auto;
	background-color: red;
	border-radius: 9px;
	margin-top: 45px;
}

footer {
	height: auto;
	position: relative;
	background-image: url(../img/bg-footer.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	text-align: center;
}

.footer__form {
	height: 286px;
}

.footer__title {
	display: inline-block;
	margin: 62px auto 0;
	width: 560px;
	font-weight: bold;
	font-size: 42px;
	text-align: center;
	color: #ffffff;
}

.footer__form__name {
	padding: 15px 165px;
	border: 4px solid #5cb967;
	border-radius: 4px;
	font-size: 22px;
	font-weight: bold;
	width: 239px;
	background-color: #ffffff;
	color: black;
	margin: 68px auto 25px;
}

.footer__form__mail {
	top: 318px;
	padding: 15px 157px;
	border: 4px solid #5cb967;
	border-radius: 4px;
	font-size: 22px;
	font-weight: bold;
	width: 256px;
	background-color: #ffffff;
	color: black;
	margin: 0 auto 15px;
}

.footer__form__btn {
	display: inline-block;
	padding: 15px 157px;
	border-radius: 4px;
	font-size: 29px;
	font-weight: bold;
	width: 578px;
	background-color: #4fcd5e;
	color: white;
	text-decoration: none;
	-webkit-box-shadow: 0px 7px 1px 0px rgba(28,142,42,1);
	-moz-box-shadow: 0px 7px 1px 0px rgba(28,142,42,1);
	box-shadow: 0px 7px 1px 0px rgba(28,142,42,1);
	margin: 0 auto;
	border: 0 solid transparent;
}

.footer__form__btn:hover {
	-webkit-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
}

.footer__form__name::-webkit-input-placeholder {
	color: black !important;
}

.footer__form__name::-moz-placeholder {
	color: black;
	opacity: 1;
}

.footer__form__name:-moz-placeholder {
	color: black;
	opacity: 1;
}

.footer__form__name:-ms-input-placeholder {
	color: black;
}

.footer__form__mail::-webkit-input-placeholder {
	color: black !important;
}

.footer__form__mail::-moz-placeholder {
	color: black;
	opacity: 1;
}

.footer__form__mail:-moz-placeholder {
	color: black;
	opacity: 1;
}

.footer__form__mail:-ms-input-placeholder {
	color: black;
}

.footer__social {
	margin-top: 100px;
	text-align: center;
}

.footer__social__item {
	display: inline-block;
	border-radius: 17px;
	margin-right: 10px;
}

.footer__social__item:hover {
	opacity: 0.7;
}

.footer__address {
	text-align: left;
	float: left;
	margin-top: 50px;
}

.footer__address__text {
	font-size: 17px;
	color: #ffffff;
	font-weight: bold;
}

.footer__author {
	text-align: right;
	float: right;
	margin-top: 100px;
}

.footer__author__text {
	font-size: 45px;
	color: #4fcd5e;
	font-weight: bold;
}

.footer__pay {
	margin: 230px auto 0;
	padding-bottom: 50px;
}

.footer__pay__item {
	display: inline-block;
	margin-right: 25px;
	opacity: 0.7;
}

.reviews__slider__author {
	display: inline-block;
	width: 550px;
	font-weight: bold;
	font-size: 30px;
	margin-top: 39px;
	margin-bottom: 27px;
}

.reviews__slider__text {
	display: inline-block;
	font-size: 17px;
	font-weight: bold;
	width: 520px;
}

.reviews__slider {
	margin-left: -80px;
}

@media screen and (max-width: 1570px) {
	.features__nlo-img {
		margin-left: 100px;
	}

	.timer__img {
		margin-left: 320px;
	}
}

@media screen and (max-width: 1200px) {
	.features__nlo-img {
		display: none;
	}
	
	.reviews__img2 {
		margin-left: 280px;
	}
}

@media screen and (max-width: 1160px) {
	.timer__img {
		display: none;
	}

	.reviews {
		height: 689px;
		text-align: center;
		margin-top: 35px;
	}

	.reviews__img1 {
		display: none;
	}

	.reviews__img2 {
		display: none;
	}

	.reviews__img1--min {
		position: absolute;
		left: 50%;
		bottom: 230px;
		margin-left: -470px;
		display: inline-block;
	}

	.reviews__img2--min {
		position: absolute;
		left: 50%;
		bottom: 230px;
		margin-left: 280px;
		display: inline-block;
	}

	.why__item--one {
		margin-right: 0;
	}

	.why__item--green {
		margin: 0;
	}

	.why__item--three {
		margin-left: 0;
	}
}

@media screen and (max-width: 1100px) {
	.container {
		max-width: 1100px;
		margin: 0 auto;
		text-align: center;
	}

	.header__btn-order {
		display: inline-block;
		color: white;
		font-size: 30px;
		font-weight: 700;
		padding: 8px 7px 10px 8px;
		border: 4px solid #23c52e;
		text-decoration: none;
		border-radius: 4px;
		margin-left: -450px;
		margin-top: -10px;
	}

	.features {
		background-color: #131313;
		width: auto;
		position: relative;
		margin-top: 110px;
		height: 1900px;
	}

	.features__title {
		text-align: center;
		font-size: 45px;
		color: #4fcd5e;
		margin-top: -100px; 
	}

	.features__item--one {
		width: 580px;
		display: inline-block;
		width: 540px;
		margin-top: 0;
	}

	.features__item--two {
		width: 580px;
		display: inline-block;
		width: 540px;
		margin-left: 0px;
		position: static;
		left: 0;
		bottom: 0;
		margin-top: -20px;
	}

	.features__item__x {
		position: absolute;
		left: 50%;
		margin-left: -290px;
		top: 733px;
	}

	.features__item--three {
		width: 580px;
		display: inline-block;
		width: 540px;
		margin-top: -30px;
	}

	.features__item--four {
		width: 580px;
		display: inline-block;
		margin-top: 0;
		width: 540px;
		margin-left: 0px;
		position: static;
		left: 13px;
		bottom: 90px;
		margin-top: -20px;
	}

	.features__btn {
		display: inline-block;
		color: white;
		width: 259px;
		margin-left: 0;
		position: absolute;
		left: 50%;
		margin-left: -140px;
		bottom: -100px;
		background-color: #4fcd5e;
		padding: 13px 10px 13px 11px;
		border-radius: 4px;
		font-weight: bold;
		font-size: 29px;
	    text-decoration: none;
	    -ms-transform: skewY(-9deg);
	    -webkit-transform: skewY(-9deg);
	    transform: skewY(-9deg);
	    -webkit-box-shadow: 0px 8px 1px 0px rgba(28,142,41,1);
		-moz-box-shadow: 0px 8px 1px 0px rgba(28,142,41,1);
		box-shadow: 0px 8px 1px 0px rgba(28,142,41,1);
	}

	.why__item--one {
		width: 280px;
		height: 490px;
	}

	.why__item--green {
		width: 280px;
		height: 490px;
	}

	.why__item--three {
		width: 280px;
		height: 490px;
	}
}

@media screen and (max-width: 990px) {
	.tv__item {
		height: 270px;
		width: 450px;
		background-color: gray;
		border: 3px solid #4fcd5e;
		border-radius: 3px;
		margin-bottom: 76px;
		display: inline-block;
	}

	.reviews__img1--min {
		display: none;
	}

	.reviews__img2--min {
		display: none;
	}

	.header__buttons__button {
		margin-left: 0;
		float: left;
		text-align: center;
		color: white;
		text-decoration: none;
		font-size: 25px;
		font-weight: 700;
		display: inline-block;
		background-image: url(../img/bg-button.png);
		background-repeat: no-repeat;
		background-position: center 27px;
		padding: 185px 20px 30px 24px;
		width: 120px;
		position: relative;
		margin-left: 6%;
	}

	.header__buttons__img--how {
		position: absolute;
		left: 50%;
		margin-left: -235px;
		top: 0;
		margin-top: -31px;
	}

	.header__buttons__img--examples {
		position: absolute;
		left: 50%;
		margin-left: -55px;
		top: 0;
		margin-top: 25px;
	}

	.header__buttons__img--about {
		position: absolute;
		left: 50%;
		margin-left: -100px;
		top: 0;
		margin-top: 8px;
	}

	.header__buttons__img--reviews {
		position: absolute;
		left: 50%;
		margin-left: -72px;
		top: 0;
		margin-top: 26px;
	}
}


@media screen and (max-width: 960px) {

	.container {
		max-width: 960px;
		margin: 0 auto;
		text-align: center;
	}

	.header__btn-order {
		display: inline-block;
		color: white;
		font-size: 30px;
		font-weight: 700;
		padding: 8px 7px 10px 8px;
		border: 4px solid #23c52e;
		text-decoration: none;
		border-radius: 4px;
		margin-left: -500px;
		margin-top: -10px;
	}

	.header__buttons__button {
		margin-left: 0;
		float: left;
		text-align: center;
		color: white;
		text-decoration: none;
		font-size: 25px;
		font-weight: 700;
		display: inline-block;
		background-image: url(../img/bg-button.png);
		background-repeat: no-repeat;
		background-position: center 27px;
		padding: 185px 20px 30px 24px;
		width: 120px;
		position: relative;
		margin-left: 3%;
	}

	.header__buttons {
		margin-top: 200px;
		margin-left: 0;
	}

	.header__buttons__img--how {
		position: absolute;
		left: 50%;
		margin-left: -235px;
		top: 0;
		margin-top: -31px;
	}

	.header__buttons__img--examples {
		position: absolute;
		left: 50%;
		margin-left: -55px;
		top: 0;
		margin-top: 25px;
	}

	.header__buttons__img--about {
		position: absolute;
		left: 50%;
		margin-left: -100px;
		top: 0;
		margin-top: 8px;
	}

	.header__buttons__img--reviews {
		position: absolute;
		left: 50%;
		margin-left: -72px;
		top: 0;
		margin-top: 26px;
	}

	.features {
		background-color: #131313;
		width: auto;
		position: relative;
		margin-top: 110px;
		height: 1900px;
	}

	.features__title {
		text-align: center;
		font-size: 45px;
		color: #4fcd5e;
		margin-top: -100px; 
	}

	.features__item--one {
		width: 580px;
		display: inline-block;
		width: 540px;
		margin-top: 0;
	}

	.features__item--two {
		width: 580px;
		display: inline-block;
		width: 540px;
		margin-left: 0px;
		position: static;
		left: 0;
		bottom: 0;
		margin-top: -20px;
	}

	.features__item__x {
		position: absolute;
		left: 50%;
		margin-left: -290px;
		top: 733px;
	}

	.features__item--three {
		width: 580px;
		display: inline-block;
		width: 540px;
		margin-top: -30px;
	}

	.features__item--four {
		width: 580px;
		display: inline-block;
		margin-top: 0;
		width: 540px;
		margin-left: 0px;
		position: static;
		left: 13px;
		bottom: 90px;
		margin-top: -20px;
	}

	.features__btn {
		display: inline-block;
		color: white;
		width: 259px;
		margin-left: 0;
		position: absolute;
		left: 50%;
		margin-left: -140px;
		bottom: -100px;
		background-color: #4fcd5e;
		padding: 13px 10px 13px 11px;
		border-radius: 4px;
		font-weight: bold;
		font-size: 29px;
	    text-decoration: none;
	    -ms-transform: skewY(-9deg);
	    -webkit-transform: skewY(-9deg);
	    transform: skewY(-9deg);
	    -webkit-box-shadow: 0px 8px 1px 0px rgba(28,142,41,1);
		-moz-box-shadow: 0px 8px 1px 0px rgba(28,142,41,1);
		box-shadow: 0px 8px 1px 0px rgba(28,142,41,1);
	}

	.features__nlo-img {
		display: none;
	}

	.tv {
		margin-top: 250px;
		position: relative;
		height: 1050px;
		width: auto;
	}

	.tv__title {
		font-weight: bold;
		font-size: 34px;
		color: #4fcd5e;
		text-align: center;
		margin-bottom: 40px;
	}

	.tv__item {
		height: 250px;
		width: 400px;
		background-color: gray;
		margin-right: 0;
		border: 3px solid #4fcd5e;
		border-radius: 3px;
		margin-bottom: 35px;
		display: inline-block;
	}

	.tv__item--even {
		float: right;
		margin-right: 30px;
	}

	.tv__robo {
		display: none;
	}

	.timer__img {
		position: absolute;
		top: -90px;
		left: 50%;
		margin-left: 280px;
		z-index: 2;
	}

	.timer {
		background-image: url(../img/bg-timer1.png);
		background-repeat: repeat-x;
		background-position: center 0;
		width: 100%;
		height: 525px;
		text-align: center;
		position: relative;
	}

	.countdown {
		width: auto;
		padding: 70px 0;
		margin: 0 auto;
	}

	.why__img {
		position: absolute;
		left: 50%;
		margin-left: -370px;
		top: -306px;
	}

	.why__item--one {
		height: 460px;
		width: 322px;
		display: inline-block;
		padding: 12px 8px;
		text-align: center;
		background-color: #753a6d;
		vertical-align: middle;
		-webkit-box-shadow: 0px 15px 1px 0px rgba(80,47,75,1);
		-moz-box-shadow: 0px 15px 1px 0px rgba(80,47,75,1);
		box-shadow: 0px 15px 1px 0px rgba(80,47,75,1);
		margin-right: 0;
		color: #ffffff;
	}

	.why__item--three {
		height: 150px;
		width: 674px;
		display: inline-block;
		padding: 12px 8px;
		text-align: center;
		background-color: #39b146;
		vertical-align: middle;
		-webkit-box-shadow: 0px 15px 1px 0px rgba(45,138,55,1);
		-moz-box-shadow: 0px 15px 1px 0px rgba(45,138,55,1);
		box-shadow: 0px 15px 1px 0px rgba(45,138,55,1);
		margin-left: 0;
		color: #ffffff;
		margin-top: 20px;
	}

	.why__item--green {
		height: 460px;
		width: 322px;
		display: inline-block;
		padding: 12px 8px;
		text-align: center;
		background-color: #753a6d;
		vertical-align: middle;
		-webkit-box-shadow: 0px 15px 1px 0px rgba(80,47,75,1);
		-moz-box-shadow: 0px 15px 1px 0px rgba(80,47,75,1);
		box-shadow: 0px 15px 1px 0px rgba(80,47,75,1);
		margin: 0;
		color: #ffffff;
	}

	.footer__pay {
		margin: 230px auto 0;
	}
}

@media screen and (max-width: 835px) {
	.tv__item {
		height: 250px;
		width: 350px;
		background-color: gray;
		border: 3px solid #4fcd5e;
		border-radius: 3px;
		margin-bottom: 76px;
		display: inline-block;
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 768px;
		margin: 0 auto;
		text-align: center;
	}

	header {
		margin: 0;
		height: 1280px;
		width: 100%;
		background-image: url(../img/bg-header.jpg);
		background-repeat: no-repeat;
		background-position: center 0;
		overflow: hidden;
		}

	.header__logo {
		margin: 500px auto 48px;
		width: auto;
	}

	.header__logo__img {
		display: inline-block;
		float: left;
		margin-right: 48px;
		margin-top: 21px;
	}

	.header__logo__text {
	 	color: white;
		font-size: 40px;
		font-weight: 700;
	}

	.header__btn-order {
		display: inline-block;
		color: white;
		font-size: 30px;
		font-weight: 700;
		padding: 8px 7px 10px 8px;
		border: 4px solid #23c52e;
		text-decoration: none;
		border-radius: 4px;
		margin-left: 0;
		margin-top: -10px;
	}

	.header__buttons {
		margin: 50px auto 0;
		width: 100%;
		text-align: center;
		max-width: 450px;
	}

	.header__buttons__button {
		text-align: center;
		color: white;
		text-decoration: none;
		font-size: 25px;
		font-weight: 700;
		display: inline-block;
		background-image: url(../img/bg-button.png);
		background-repeat: no-repeat;
		background-position: center 27px;
		padding: 175px 31px 30px 30px;
		width: 140px;
		position: relative;
		height: 70px;
		margin-left: 0;
	}

	.header__buttons__img--how {
		position: absolute;
		left: 50%;
		margin-left: -333px;
		top: 0;
		margin-top: -230px;
		top: 200px;
		left: 200px;
	}

	.header__buttons__img--examples {
		position: absolute;
		left: 50%;
		margin-left: 45px;
		top: 0;
		margin-top: 25px;
		top: 0;
		left: 0;
	}

	.header__buttons__img--about {
		position: absolute;
		left: 50%;
		margin-left: 0;
		top: 0;
		margin-top: 8px;
		top: 0;
		left: 0;
	}

	.header__buttons__img--reviews {
		position: absolute;
		left: 50%;
		margin-left: 27px;
		top: 0;
		margin-top: 26px;
		top: 0;
		left: 0;
	}

	.header__buttons__bg {
		margin-bottom: 28px;
	}

	.how__item {
		width: auto;
		height: 330px;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.how__item__img {
		float: left;
	}

	.how__item__text {
		color: white;
		font-size: 25px;
		font-weight: bold;
		display: inline-block;
		margin-top: 120px;
		width: 250px;
		margin-left: 20px;
	}

	.how__item__rez {
		width: 750px;
		height: 330px;
		margin: 0 auto;
	}

	.how__item__img__rez {
		float: left;
	}

	.how__item__text__rez {
		font-size: 25px;
		margin-left: 20px; 
	}

	.features__btn {
		bottom: -90px;
	}

	.tv {
		margin-top: 250px;
		padding-right: 0;
		position: relative;
		height: 850px;
		width: 100%;
		text-align: center;
	}

	.tv__title {
		font-weight: bold;
		font-size: 34px;
		color: #4fcd5e;
		text-align: center;
		margin-bottom: 40px;
	}

	.tv__item {
		height: 200px;
		width: 300px;
		background-color: gray;
		margin-right: 0;
		border: 3px solid #4fcd5e;
		border-radius: 3px;
		margin-bottom: 35px;
		display: inline-block;
	}

	.timer {
		background-image: url(../img/bg-timer1.png);
		background-repeat: repeat-x;
		background-position: center 0;
		width: auto;
		height: 380px;
		text-align: center;
		position: relative;
	}

	.timer__title {
		max-width: 680px;
		width: auto;
		font-size: 30px;
		font-weight: bold;
		color: white;
		display: inline-block;
		margin-top: 30px;
	}

	.timer__img {
		display: none;
	}

	.timer__btn {
		background-color: #704c6b;
		display: inline-block;
		font-size: 30px;
		font-weight: bold;
		padding: 20px 44px 17px 43px;
		border-radius: 4px;
		text-decoration: none;
		color: white;
		-webkit-box-shadow: 0px 10px 1px 0px rgba(80,47,75,1);
		-moz-box-shadow: 0px 10px 1px 0px rgba(80,47,75,1);
		box-shadow: 0px 10px 1px 0px rgba(80,47,75,1);
		position: relative;
		top: 45px;
	}

	.timer__countdown {
		background-color: #704669;
		width: 100%;
		margin-top: 19px;
		position: relative;
		z-index: 1;
	}

	.countdown {
		width: auto;
		padding: 40px 0;
		margin: 0 auto;
	}

	.why {
		width: auto;
		text-align: center;
		position: relative;	
		margin-top: 240px;
	}

	.footer__address__text {
		font-size: 14px;
		color: #ffffff;
		font-weight: bold;
	}
	.footer__author__text {
		font-size: 30px;
		color: #4fcd5e;
		font-weight: bold;
	}
}

@media screen and (max-width: 700px) {
	.container {
		max-width: 700px;
		margin: 0 auto;
		text-align: center;
	}

	.cont {
		position: relative;
	    height: 100%;
	    width: 100%;
	    left: 0;
	    -webkit-transition:  left 0.4s ease-in-out;
	    -moz-transition:  left 0.4s ease-in-out;
	    -ms-transition:  left 0.4s ease-in-out;
	    -o-transition:  left 0.4s ease-in-out;
	    transition:  left 0.4s ease-in-out;
	}

	.cont.open-sidebar {
	    left: 240px;
	}
	#sidebar {
		display: inline-block;
	    position: absolute;
	    left: -240px;
	    width: 240px;
	    height: 100%;
	    box-sizing: border-box;
	}
	#sidebar ul {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	}
	#sidebar ul li {
	    margin: 0;
	}
	#sidebar ul li a {
		background-color: #23c52e;
	    padding: 15px 20px;
	    font-size: 16px;
	    font-weight: 100;
	    color: white;
	    text-decoration: none;
	    display: block;
	    border-bottom: 1px solid green;
	    -webkit-transition:  background 0.3s ease-in-out;
	    -moz-transition:  background 0.3s ease-in-out;
	    -ms-transition:  background 0.3s ease-in-out;
	    -o-transition:  background 0.3s ease-in-out;
	    transition:  background 0.3s ease-in-out;
	}
	#sidebar ul li:hover a {
	    background-color: #23c550;
	}

	#sidebar-toggle {
	    background: #23c52e;
	    border-radius: 3px;
	    display: block;
	    position: relative;
	    padding: 10px 7px;
	    float: left;
	    margin-left: 10px;
	    margin-top: 5px;
	}
	#sidebar-toggle .bar{
	    display: block;
	    width: 18px;
	    margin-bottom: 3px;
	    height: 2px;
	    background-color: #fff;
	    border-radius: 1px;
	}
	#sidebar-toggle .bar:last-child{
	     margin-bottom: 0;
	     float: left;
	}

	header {
		margin: 0;
		height: auto;
		width: 100%;
		background-image: url(../img/bg-header-mini.jpg);
		background-repeat: no-repeat;
		background-position: center 0;
		overflow: hidden;
	}

	.header__logo {
		margin: 20px auto 48px;
		width: 300px;
	}

	.header__logo__img {
		display: none
	}

	.header__logo__text {
	 	color: white;
		font-size: 18px;
		font-weight: 700;
	}

	.header__btn-order {
		display: inline-block;
		color: white;
		font-size: 20px;
		font-weight: 700;
		padding: 8px 7px 10px 8px;
		border: 4px solid #23c52e;
		text-decoration: none;
		border-radius: 4px;
		margin-left: 0;
		margin-top: 130px;
		margin-bottom: 20px;
	}

	.header__buttons {
		display: none;
	}

	.head-how {
		background-image: url(../img/bg-head-how.png);
		background-repeat: repeat-x;
		background-position: center 0;
		width: 100%;
		height: 80px;
		text-align: center;
	}

	.head-how__title {
		color: white;
		font-size: 30px;
		font-weight: bold;
		display: inline-block;
		margin-top: 20px;
	}

	.how {
		background-image: url(../img/bg-how.jpg);
		background-repeat: no-repeat;
		background-position: center 0;
		padding-top: 20px;
		padding-bottom: 0;
		text-align: center;
	}

	.how__item {
		width: auto;
		height: 200px;
		margin-bottom: 70px;
	}

	.how__item__img {
		display: none;
	}

	.how__item__img--mini {
		text-align: center;
		display: inline-block;
	}

	.how__item__text {
		font-size: 20px;
		margin-top: 0;
		width: 100%;
		margin-left: 0;
	}

	.how__item__rez {
		width: auto;
		margin-top: -50px;
	}

	.how__item__img__rez {
		display: none;
		
	}

	.how__item__text__rez {
		width: 300px;
		color: white;
		font-size: 17px;
		margin-top: 0;
		margin-left: 0; 
	}
	.how__item__btn {
		padding: 10px 6px 11px 8px;
		font-size: 20px;
		margin-top: 10px;
		margin-left: 0;
	}

	.example {
		height: auto;
		text-align: center;
		padding-top: 20px;
	}

	.example__item {
		height: 200px;
		margin: 0 auto;
	}

	.example__item--last {
		margin-top: 20px;
		margin-bottom: 40px;
	}

	.example__item__text {
		font-size: 20px;
	}
	
	.order__name {
		padding: 10px 0 12px 20px;
		font-size: 19px;
		width: 215px;
		margin-top: 828px;
		margin-bottom: 28px;
	}

	.order__mail {
		padding: 10px 0 12px 11px;
		font-size: 19px;
		width: 227px;
		margin-bottom: 30px;
	}

	.order__btn {
		padding: 11px 8px 11px 9px;
		font-size: 25px;
		width: 230px;
		margin-bottom: 250px;
	}

	.features {
		background-color: #131313;
		width: 100%;
		position: relative;
		margin-top: 90px;
		height: auto;
	}

	.features__title {
		font-size: 38px;
		margin-top: -60px; 
	}

	.features__item__img--one {
		display: none;
	}

	.features__item__img--two {
		display: none;
	}

	.features__item__img--three {
		display: none;
	}

	.features__item__img--four {
		display: none;
	}

	.features__item__img--one--mini {
		display: block;
		margin: 0 auto;
	}

	.features__item__img--two--mini {
		display: block;
		margin: 0 auto;
	}

	.features__item__img--three--mini {
		display: block;
		margin: 0 auto;
	}

	.features__item__img--four--mini {
		display: block;
		margin: 0 auto;
	}

	.features__item--one {
		width: auto;
		display: inline-block;
		margin-bottom: 40px;
	}

	.features__item--two {
		width: auto;
		display: inline-block;
		position: static;
		margin-bottom: 40px;
	}

	.features__item__x {
		display: none;
	}

	.features__item--three {
		width: auto;
		margin-bottom: 40px;
	}

	.features__item--four {
		width: auto;
		display: inline-block;
		margin-top: 0;
		position: static;
		margin-bottom: 40px;
	}

	.features__item__title {
		font-size: 23px;
		margin-bottom: 0;
	}

	.features__item__text {
		font-size: 23px;
	}

	.features__btn {
		bottom: -50px
	}

	.tv {
		margin-top: 200px;
		margin-bottom: 30px;
		height: auto;
	}

	.tv__title {
		font-size: 34px;
		margin-bottom: 20px;
	}

	.tv__item {
		height: 150px;
		width: 250px;
		margin-bottom: 20px;
	}

	.tv__robo {
		display: none;
	}

	.timer {
		width: 100%;
		height: 350px;
	}

	.timer__title {
		width: auto;
		font-size: 20px;
		margin-top: 20px;
	}

	.timer__img {
		display: none;
	}

	.timer__btn {
		font-size: 30px;
		padding: 13px 15px 17px 13px;
		top: 55px;
	}

	.timer__countdown {
		background-color: #704669;
		width: 100%;
		margin-top: 0;
		position: relative;
		z-index: 1;
	}

	.countdown {
		max-width: none;
		width: 290px;
		padding: 20px 0;
		margin: 0 auto;
	}

	.why__item--one {
		height: 490px;
		width: 300px;
		padding: 12px 12px;
		margin-right: 0;
	}

	.why__item--three {
		height: 150px;
		width: 615px;
		padding: 12px 12px;
		margin-top: 20px;
	}

	.why__item--green {
		padding: 12px 12px;
		height: 490px;
		width: 300px;
		margin: 0;
	}

	.why__form {
		width: 320px;
		text-align: center;
		margin: 0 auto;
	}

	.why__form__name {
		padding: 10px 26px 10px 56px;
		border: 4px solid #5cb967;
		border-radius: 4px;
		font-size: 18px;
		font-weight: bold;
		width: auto;
		background-color: transparent;
		color: black;
		margin-top: 80px;
	}

	.why__form__mail {
		padding: 10px 26px 10px 57px;
		border: 4px solid #5cb967;
		border-radius: 4px;
		font-size: 18px;
		width: auto;
		background-color: transparent;
		margin: 20px auto;
	}

	.why__form__btn {
		padding: 10px 19px;
		border-radius: 4px;
		font-size: 20px;
		width: 300px;
		margin-bottom: 90px;
	}

	.why__title {
		width: auto;	
		font-size: 30px;
	}

	.reviews {
		height: 689px;
		position: relative;
		text-align: center;
		margin-top: 35px;
	}

	.reviews__title {
		font-size: 25px;
		font-weight: bold;
		text-align: center;
		width: auto;
		margin: 0 auto;
	}

	.reviews__img1 {
		position: absolute;
		left: 50%;
		margin-left: -560px;
	}

	.reviews__img2 {
		position: absolute;
		left: 50%;
		margin-left: 300px;
	}

	.reviews__img1--min {
		display: none;
	}

	.reviews__img2--min {
		display: none;
	}

	.reviews__title--green {
		color: green;
	}

	.footer__form {
		height: auto;
	}

	.footer__title {
		display: inline-block;
		margin: 30px auto;
		width: auto;
		font-weight: bold;
		font-size: 28px;
		text-align: center;
		color: #ffffff;
	}

	.footer__form__name {
		padding: 10px 26px 10px 56px;
		font-size: 18px;
		width: auto;
		margin: 0 auto 25px;
	}

	.footer__form__mail {
		top: 318px;
		padding: 10px 26px 10px 57px;
		font-size: 18px;
		width: auto;
		margin: 0 auto 15px;
	}

	.footer__form__btn {
		display: inline-block;
		padding: 10px 19px;
		border-radius: 4px;
		font-size: 20px;
		font-weight: bold;
		width: 300px;
		background-color: #4fcd5e;
		color: white;
		text-decoration: none;
		-webkit-box-shadow: 0px 7px 1px 0px rgba(28,142,42,1);
		-moz-box-shadow: 0px 7px 1px 0px rgba(28,142,42,1);
		box-shadow: 0px 7px 1px 0px rgba(28,142,42,1);
		margin: 0 auto;
	}

	.footer__address {
		text-align: center;
		float: none;
		margin-top: 50px;
	}

	.footer__address__text {
		font-size: 17px;
		color: #ffffff;
		font-weight: bold;
	}

	.footer__author {
		text-align: center;
		float: none;
		margin-top: 50px;
	}

	.footer__author__text {
		font-size: 30px;
		color: #4fcd5e;
		font-weight: bold;
	}

	.footer__social {
		width: 270px;
		margin: 50px auto;
		text-align: center;
	}

	.footer__social__item {
		display: inline-block;
		border-radius: 17px;
		height: 50px;
	}

	.footer__pay {
		margin: 30px auto 0;
		padding-bottom: 50px;
	}

	.footer__pay__item {
		margin-right: 10px;
	}

@media screen and (max-width: 670px) {
	.why {
		width: 100%;
		text-align: center;
		position: relative;	
		margin-top: 140px;
	}

	.why__item--one {
		height: 340px;
		width: 315px;
		padding: 12px 10px;
		margin-bottom: 20px;
	}

	.why__item--three {
		height: 340px;
		width: 315px;
		padding: 12px 10px;
		margin-top: 20px;
	}

	.why__item--green {
		padding: 12px 10px;
		height: 490px;
		width: 315px;
		margin: 0;
	}





	.anythingSlider {
		display: none;
	}
}